# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.tmp/
.corepack
.pnpm-store
dist
node-compile-cache

# Date
data

# Wrangler
.wrangler

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
raksmart.env
IMG_2413.MP4

# VitePress outputs
docs/.vitepress/dist
docs/.vitepress/cache
